aiodns
aiohappyeyeballs
aiohttp
aiosignal
asttokens
async-timeout
attrs
bokeh
Bottleneck
brotlicffi
certifi
cffi
charset-normalizer
click==8.3.0
cloudpickle==3.1.1
colorama
comm
contourpy
cv==1.0.0
cycler==0.12.1
dask==2025.9.1
datasets
debugpy
decorator
dill
distributed==2025.9.1
exceptiongroup
executing
filelock
fonttools==4.60.1
frozenlist
fsspec
gmpy2
grpcio==1.75.1
hf-xet
huggingface_hub
idna==3.10
importlib_metadata
ipykernel
ipython
jedi
Jinja2
joblib==1.5.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_client
jupyter_core
kagglehub==0.3.13
kiwisolver==1.4.9
locket==1.0.0
MarkupSafe
matplotlib==3.10.7
matplotlib-inline
mkl-service==2.4.0
mkl_fft
mkl_random
mpmath
msgpack==1.1.2
multidict
multiprocess
narwhals
nest_asyncio
networkx
numexpr
numpy
opencv-python==4.12.0.88
packaging
pandas
parso
partd==1.4.2
pickleshare
pillow
platformdirs
prompt_toolkit
propcache
protobuf
psutil
pure_eval
pyarrow
pycares
pycparser
Pygments
pyparsing==3.2.5
PySocks
pytesseract==0.3.13
python-dateutil
pytz
pywin32
PyYAML
pyzmq
ray==2.6.3
referencing==0.36.2
regex
requests
rpds-py==0.27.1
safetensors
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
six
sortedcontainers==2.4.0
stack_data
sympy
tblib==3.1.0
threadpoolctl==3.6.0
tokenizers
toolz==1.0.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
urllib3
wcwidth
win-inet-pton
winloop
xxhash
xyzservices
yarl
zict==3.0.0
zipp